<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Car Rental System</title>
<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="main.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />

</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a id="heading" class="navbar-brand" th:href="@{/index}">Car Rental System</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/index}">Home</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/userregister}">Register</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index}">Login</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{#}">Contact Us</a>
				</li>

			</ul>
		</div>
	</nav>
	
	
	
	<section class="adduserbody">
			<div style="margin-left: 300px" class = "container">
				<h1 style="color: green">Your Registration Successfully Done!! </h1>
			</div>
	</section>
	
	
	
	<footer class="footer">
	<div class="blocke">
		<div class="fblock1">
		<h3>Car Rental System</h3><br>
				<ul class="nav navbar-nav">
					<li><a href="#" class="active">Home</a></li>
					<li><a href="#">AboutUs</a></li>
					<li><a href="#">Register</a></li>
					<li><a href="#">Login</a></li>
				</ul>
		</div>
		<div class="fblock1">
		@copy 2021 Online Car Rental System<br>
					<ul class="icones">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
    					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
    					<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
    					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
   	 					<li><a href="#"><i class="fa fa-skype"></i></a></li>
					</ul>
		
		</div>
		<div class="fblock1">
					<form action="#" method="post" style="width: 300px">
					<h3><b>Contact Us</b></h3>
						<div class="form-group">
							<label for="email1">Email address</label> 
							<input type="email" class="form-control" id="email1" name="email" placeholder="Email" />
						</div>
						<div class="form-group">
							<label for="note">Note:</label> 
							<input type="password" class="form-control" id="note" name="note" placeholder="Note text" />
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
		</div>
	</div>
	</footer>
	<script src="jquery.min.js"></script>
	<script src="bootstrap.min.js"></script>

	

</body>
</html>